
body{
    margin: 0;
    background-color: #F1F1F1;
    font-family: cursive, sans-serif;
}
header{
    background-color: #B5C18E;
    color: #F1F1F1;
    display: flex;
    align-items: center;
    justify-content: center;

}
.d1, .d2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.min, .max{
    display: flex;
    width: 100%;
    margin: 8px;
}
.max{
    margin-bottom: 0;
}
.min .d01, .max .d01{
    width: 40%;
    display: flex;
    justify-content: flex-end;
    margin: 0;
}
.min .d02, .max .d02{
    width: 60%;
    display: flex;
    justify-content: flex-start;
    margin: 0;
}
.min input, .max input{
    width: 59%;
    
}

.d1 {
    margin: 40px;
    display: flex;
    flex-direction: column;
    border: 3px solid #C7B7A3;
    border-radius: 20px;
    padding: 50px 40px 20px 40px;
    width: 45%;
    margin: 30px auto 30px auto;
    overflow:hidden;
} 
.d1 #please{
    height: 20px;
    margin: 20px 0 0 0;
    color: #C7B7A3;
}

.d1 #pickNum{
    font-size: 40px;
    margin: 0 0 20px 0;
}
.d1 label{
    font-size: 25px;
    margin: 0 10px;
    font-weight: 550;
    color: #C7B7A3;
}
.d1  input{
    font-size: 15px;
    padding: 0 5px;
    border: 2px solid #C7B7A3;
    border-radius: 8px;
    color: #C7B7A3;
    font-family: cursive;
}
.d1 input:focus{
    outline: none;
}
.d1 input::placeholder{
    color: #C7B7A3;
    font-family: cursive;
}
.d1 input:focus{
    box-shadow: 0 0 30px #C7B7A3;
    animation: glow;
    animation-duration: 0.2s;
}
.d1 input:focus{
    background-color: #C7B7A3;
    color: #F1F1F1;
    animation: changeColor;
    animation-duration: 0.3s;

}
@keyframes changeColor{
    0%{background-color: #F1F1F1}
}
button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-size: 20px;
    width: 200px;
    padding: 10px;
    border: 2px solid #C7B7A3;
    border-radius: 15px;
    background-color: white;
    color: #C7B7A3;
    cursor: pointer;
    font-family: cursive;
}
button:hover{
    background-color: #C7B7A3;
    color: white;
    border: 2px solid #C7B7A3;
    box-shadow: 0 0 40px #C7B7A3;
    animation: glow;
    animation-duration: 0.2s;
}
@keyframes glow{
    0%{box-shadow: 0 0 40px #F1F1F1;}
}
.d2{
    margin: 20px 0 0 0;
    flex-direction: column;
}
#l1{
    font-size: 25px;
    margin: 0 20px;
    font-weight: 550;
    color: #C7B7A3;
}
.d3{
    border-radius: 10px;
    font-size: 10vh;
    height: 220px;
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 50px 0;
    background-color: #B5C18E;
    color: white;
}
